
:root {
    --primary-color-blue: #023EA5;
    --primary-color-red: #d71f2e;
    --secondary-color-lightblue: #bfdfff;
    --secondary-color-lightgray: #fbf8f4;
}

/* @font-face {
    font-family: "rema";
    src: url('./assets/REMA\ 1000\ _Typografi\ DIGITAL\ bruk/._REMA-Regular.woff') format(woff);
    font-weight: normal;
    font-style: normal;
} */

* {
    margin: 0;
    padding: 0;
    /* font-family: sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
}


.over {
    
    /* background-color: blue; */
    grid-column: 1/3;
    grid-row: 1/2;
    height: fit-content;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
    
    
}

div > img {
    max-width: 600px;
    
}


.search-bar {
    /* align-self: flex-end; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10px;
    margin-top: 40px;
    flex-wrap: wrap;
    /* grid-column: 2/3;
    grid-row: 1/2; */
}

.flex {
    display: flex;
    justify-content: center;
}

.search {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-items: center;
    padding: 14px;
    border-radius: 28px;
    /* background: var(--secondary-color-lightblue); */
    background-color: #023EA5;
    max-width: 600px;
    min-width: fit-content;
    width: 40vw;
    /* border: 1px solid black; */
}

.search-input {
    font-size: 16px;
    /* font-family:'Courier New', Courier, monospace; */
    /* font-weight: bold; */
    color: white;
    margin-right: 14px;
    outline: none;
    border: none;
    background: transparent;
    flex: 1 0 max-content;
}

.search-input::placeholder, .search-icon {
    color: white;
}

.search-icon:hover, .filter-icon:hover {
    cursor: pointer;
    
}


.filter-icon {
    display: block;
    background-color: var(--secondary-color-lightblue);
    padding: 16px;
    border-radius: 28px;
    margin-left: 16px;
    color: black;
    background-color: #023EA5;
    /* border: 1px solid black; */
}


.filter-container {
    align-self: center;
    margin-top: 32px;
    display:none;
    flex-wrap: wrap;
    width: 35vw;
    justify-content: center;
    background-color: var(--secondary-color-lightblue);
    padding: 16px;
    /* border: 1px solid black; */
    border-radius: 32px;
    /* grid-colum */
}

.visible {
    display: flex;
    animation-name: minAnimasjon;
    animation-duration: 1s;
}

/* .visible:not {
    animation-name: minAnimasjon;
    animation-duration: 1s;
    animation-direction: reverse;
    få den til å gjøre animasjonen når man trykker på knappen for å fjerne filter
} */

@keyframes minAnimasjon {
    0% {opacity: 0%;}
    100% {opacity: 100%;}
}


    
.toggle-button {
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: var(--secondary-color-lightgray); /* Default to off color */
    /* border: 1px solid black; */
    color: black;
    margin: 2px 6px;
    border-radius: 24px;
}

.toggle-button.active {
    background-color: var(--primary-color-red); /* Apply on color when active */
}




#result-header {
    font-weight: bold;
    text-decoration: none;
    font-size: 2em;
    transition-property: none;
    padding: 20px;
}
.result-p {
    background-color: var(--secondary-color-lightblue);
    padding: 10px;
    padding-left: 20px;
    margin: 6px; 
    border-radius: 12px;
    /* text-align: center; */
    transition-property: padding-left;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    text-decoration: underline;

}


#results > p:hover {
    padding-left: 40px;
    cursor: pointer;
    transition-property: padding-left;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;

}

#results > p:first-child:hover {
    padding-left: 20px;
    cursor:auto;
}


#results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: max-content;
    /* background-color: #023EA5; */
    background-color: var(--secondary-color-lightblue);
    /* width: 300px; */
    /* padding: 10px; */
}


#handleliste {
    grid-row: 2/3;
    grid-column: 2/3;
    /* background-color: #023EA5; */
    /* height: fit-content;
    width: fit-content;
    /* display: block; */
    /* height: 100px;
    width: 100x; */ 
    align-self: flex-start;
    margin-top: 100px;
    background-color: var(--secondary-color-lightblue);
    padding: 20px;
    width: 300px;
    /* text-align: center; */
}

#handleliste > p {
    padding: 10px;
}

#handleliste > p:first-child {
    font-weight: bold;
    font-size: 2em;

}


.second-screen {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    padding-left: 40px;
    background-color: var(--secondary-color-lightgray);
}

.title {
    font-size: 3em;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-bottom: 40px;
}

.input {
    grid-column: 1/2;
    grid-row: 1/2;
    height: min-content;
}

.recipie {
    background-color: var(--secondary-color-lightblue);
    height: max-content;
    height: max-content;
    min-width: max-content;
    max-width: 600px;
    /* width: 100px; */
    align-self: center;
    justify-self: center;
    padding: 20px;
    border-radius: 40px;

}

.recipie > p:first-child {
    font-weight: bold;
    font-size: 1.2em;
}

a {
    color: black;
}