/* body {
    margin: 0;
    padding:0;

}


h1 {
    color: gray;
    background-color: blue;
    width: fit-content;

}

header {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    
} */

* {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
}

@keyframes fadeIn {
  0% {
    opacity: 0; 
    transform: scale(0.4);
    rotate: -45deg;
  }
  100% {
    opacity: 1;
    transfrom: scale(1);
    rotate: 0deg;
  }
}

.fade-in-element {
    animation: fadeIn 2s ease-in-out forwards;
}
#header-title {
    position: absolute;
    color:blue;
    font-size: 7em;
    text-shadow: 
    -3px -3px 0 white,
    3px -3px 0 white,
    -3px  3px 0 white,
    3px  3px 0 white,
    0px  0px 2px white,
    /* red outer border */
    -6px -6px 0 red,
    6px -6px 0 red,
    -6px  6px 0 red,
    6px  6px 0 red;
    font-weight: bold;
    letter-spacing: 10px;
    
    
}

header {
    position:relative;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    background-color: white;

}
section {
    height: 100vh;
    width: 100%;
    background-color: lightblue;
}

.scroll-wrapper {
    height: 100dvh;
    overflow-y: scroll;
    scroll-snap-type: y proximity;
}

.scroll-section {
    height: 100%;
    scroll-snap-align: start;
    
}

input {
    appearance: none;
    border: 2px solid black;
    height: 10px;
    width: 10px;
    /* display:inline; */
}



.radio-text {
    display:inline;
}

label > div {
    border: 2px solid black;
    width:fit-content;
    /* display: inline; */
    display: flex;
}

div > input {
    display: inline;
    width: 100%;
    height: 100%;
}

div > p {
    display: inline;
}
